@model FinalProject_GymManagement.ViewModel.MemberSubscriptionVM

@{
    ViewData["Title"] = "Activate Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Activate Member Subscription</h1>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ActivateMemberSubscription", "MemberSubscription", FormMethod.Post))
        {

            var memberCardList = Model.MemberCardList ?? new List<SelectListItem>();
            var subscriptionCodeList = Model.SubscriptionCodeList ?? new List<SelectListItem>();

            <div class="form-group">
                @Html.LabelFor(model => model.MemberCardID)
                @Html.DropDownListFor(model => model.MemberCardID, new SelectList(memberCardList, "Value", "Text"), "Select Member Card", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MemberCardID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubscribtionCode)
                @Html.DropDownListFor(model => model.SubscribtionCode, new SelectList(subscriptionCodeList, "Value", "Text"), "Select Subscription Code", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubscribtionCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Activate Member Subscription" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "GetAllMembersSubscription")
</div>