@* @model FinalProject_GymManagement.Data.Entities.Subscription

@{
    ViewData["Title"] = " Create Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Subscription</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateSubscription" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfMonths"></label>
                <input asp-for="NumberOfMonths" class="form-control" />
                <span asp-validation-for="NumberOfMonths" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WeekFrequency"></label>
                <input asp-for="WeekFrequency" class="form-control" />
                <span asp-validation-for="WeekFrequency" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalNumberOfSessions"></label>
                <input asp-for="TotalNumberOfSessions" class="form-control" />
                <span asp-validation-for="TotalNumberOfSessions" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalPrice"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="CreateSubscription" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllSubscriptions">Back to List</a>
</div> *@

@model FinalProject_GymManagement.Data.Entities.Subscription

@{
    ViewData["Title"] = "Create Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Subscription</h1>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("CreateSubscription", "Subscription", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.Code)

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfMonths)
                @Html.TextBoxFor(model => model.NumberOfMonths, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumberOfMonths, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WeekFrequency)
                @Html.TextBoxFor(model => model.WeekFrequency, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WeekFrequency, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalNumberOfSessions)
                @Html.TextBoxFor(model => model.TotalNumberOfSessions, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TotalNumberOfSessions, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalPrice)
                @Html.TextBoxFor(model => model.TotalPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Create Subscription" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "GetAllSubscriptions")
</div>