
@model List<FinalProject_GymManagement.ViewModel.MemberGridTableVM>

@{
    ViewData["Title"] = "All Members";
}

<h2>All Members</h2>

<form method="get" action="@Url.Action("Search", "Member")" class="search-form">
    <label for="searchQuery">Search:</label>
    <input type="text" name="members.FirstName" placeholder="First Name">
    <input type="text" name="members.LastName" placeholder="Last Name">
    <input type="text" name="members.Email" placeholder="Email">
    <input type="text" name="members.IdCardNumber" placeholder="ID Card Number">
    <button type="submit" class="search-button">Search</button>
</form>

@if (Model != null && Model.Any())
{
    <p>Search results:</p>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>ID Card Number</th>
                <th>Email</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td>@member.FirstName</td>
                    <td>@member.LastName</td>
                    <td>@member.Birthdate.ToString("yyyy-MM-dd")</td>
                    <td>@member.IdCardNumber</td>
                    <td>@member.Email</td>
                    <td>@member.RegistrationDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <a asp-controller="Member" asp-action="Edit" asp-route-cardID="@member.IdCardNumber">Edit</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No members found.</p>
}

<button id="showSubscriptions">Show Subscriptions</button>
<button id="showActiveSubscriptions">Show Active Subscriptions</button>

<!-- JavaScript to handle the click event -->
<script>
    document.getElementById("showSubscriptions").addEventListener("click", function () {
        window.location.href = '@Url.Action("GetAllSubscriptions", "Subscription")';
    });

    document.getElementById("showActiveSubscriptions").addEventListener("click", function () {
        window.location.href = '@Url.Action("GetAllMembersSubscription", "MemberSubscription")';
    });
</script>
